<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class='ilb'>
      <img src="/images/narwhal.jpg" alt="/images/narwhal.jpg">
    </div>
    <div class='ilb'>
      <table>
        <thead>
          <tr>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Age:</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var x in gnarwals) { %>
          <tr>
            <td><%= gnarwals[x].first_name %></td>
            <td><%= gnarwals[x].last_name %></td>
            <td><%= gnarwals[x].age %></td>
            <td><a href="/gnarwals/destroy/<%= gnarwals[x]._id %>">(POACH via HARPOOON)</a> | <a href="/gnarwals/edit/<%= gnarwals[x]._id %>">EDIT NERWUL</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <h2>Let's make a new Gnarwal!</h2>
    <form action='gnarwals/new' method='post'>
    	First Name: <input type='text' name='first_name'>
    	Last Name: <input type='text' name='last_name'>
    	Age: <input type='number' name='age'>
    	<input type='submit' value='ADD GNARWAL!'>
    </form>
  </body>
</html>
